################################################################
# API and dashboard configuration
################################################################
api:
  # Dashboard
  dashboard: true
  insecure: true
  
################################################################
# Docker configuration backend
################################################################
providers:
  docker:
    exposedByDefault: false
    swarmMode: false
    watch: true

################################################################
# Traefik Logging
################################################################
log:
  level: INFO

################################################################
# Entrypoint
################################################################
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  oracle-xe:
    address: ":1521"
  postgres:
    address: ":5432"

################################################################
# Auto signed certificate
################################################################
serversTransport:
  insecureSkipVerify: true