services:
  traefik:
    image: traefik:3.1.0
    ports:
      # Exposes port 80 for incomming web requests
      - 80:80
      # The Web UI port http://0.0.0.0:8080 (enabled by --api.insecure=true)
      - 8080:8080
      - 1521:1521
      - 5432:5432
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./app/traefik/conf/traefik.yml:/etc/traefik/traefik.yml

  dataiku:
    image: jsminet/docker-dataiku:$DSS_VERSION
    build: .
    environment:
      - DSS_PORT
    labels:
      - traefik.enable=true
      - traefik.http.routers.dataiku.rule=Host(`$DATAIKU_DNS`)
      - traefik.http.routers.dataiku.entrypoints=web
      - traefik.http.routers.dataiku.service=dataiku
      - traefik.http.services.dataiku.loadbalancer.server.port=$DSS_PORT
    #entrypoint: tail -f /dev/null
    volumes:
      - dataikudata:$DSS_DATADIR
      # Add jars for DB connection
      - ./jars:$DSS_DATADIR/lib/jdbc

  oracle-xe:
    image: oraclexe:21.3.0
    build: 
      context: https://github.com/oracle/docker-images.git#main:OracleDatabase/SingleInstance/dockerfiles/21.3.0
      dockerfile: Dockerfile.xe
    hostname: oracle-xe
    profiles:
      - oracle-xe
    environment:
      - ORACLE_PWD
      - ORACLE_CHARACTERSET
    labels:
        - traefik.enable=true
        - traefik.http.routers.oracle-xe.rule=Host(`$ORACLE_XE_DNS`)
        - traefik.http.routers.oracle-xe.entrypoints=web
        - traefik.http.routers.oracle-xe.service=oracle-xe
        - traefik.http.services.oracle-xe.loadbalancer.server.scheme=https
        - traefik.http.services.oracle-xe.loadbalancer.server.port=$ORACLE_XE_HTTP_PORT
        - traefik.tcp.routers.oracle-xe.rule=HostSNI(`*`)
        - traefik.tcp.routers.oracle-xe.entrypoints=oracle-xe
        - traefik.tcp.services.oracle-xe.loadbalancer.server.port=$ORACLE_XE_RPC_PORT
    volumes:
      - oradata:/opt/oracle/oradata
      # Volume with custom scripts to be run after database setup
      - ./db/oracle/scripts/setup:/opt/oracle/scripts/setup
      # Volume with custom scripts to be run after database startup
      - ./db/oracle/scripts/startup:/opt/oracle/scripts/startup

  postgres:
    # Extend official images with postgres-contrib
    image: postgres:latest-contrib
    build: db/postgres
    hostname: postgres
    profiles:
      - postgres
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    labels:
        - traefik.enable=true
        - traefik.tcp.routers.postgres.rule=HostSNI(`*`)
        - traefik.tcp.routers.postgres.entrypoints=postgres
        - traefik.tcp.services.postgres.loadbalancer.server.port=$POSTGRES_RPC_PORT
    volumes:
      - postgresdata:/var/lib/postgresql/data
      # Volume with custom scripts to be run after database initialization
      - ./db/postgres/scripts:/docker-entrypoint-initdb.d

volumes: 
  oradata:
  postgresdata:
  dataikudata: